.row {
    height: 23vh !important; 
}

@media (max-width: 768px) {
    .row {
        height: 25vh !important; 
    }
}

@media (max-width: 480px) {
    .row {
        height: 25vh !important; 
    }
}