img {
    width: auto;
    height: 50vh; /* Set a maximum height for larger screens */
}

@media (max-width: 768px) {
    img {
        width: auto;
        height: 40vh; /* Set a height for medium screens */
    }
}

@media (max-width: 480px) {
    img {
        width: auto;
        height: 40vh; /* Set a height for medium screens */
    }
}

